$main-font: 'Roboto', sans-serif;
$main-font-size: 20px;
$main-background:  rgb(102, 102, 112);
$chat-background: rgb(236, 236, 236);
$shadow: -5px -5px 10px rgba(70,70,70, 0.2),
5px 5px 10px rgba(70,70,70, 0.2);
$border-radius: 10px;
