{
    "extends": ["airbnb/base"],
    "rules": {
        "linebreak-style": [2, "windows"],
        "indent": ["error", 4],
        "trailing-comma": 0
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true
      }
}
